[submodule "external/danlant"]
	path = external/danlant
	url = https://github.com/DAndroid/LSPlant.git
[submodule "external/dobby"]
	path = external/dobby
	url = https://github.com/DAndroid/Dobby.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/cxx"]
	path = external/cxx
	url = https://github.com/topjohnwu/libcxx.git
